<div class="wrapper">
    <div class="title d-flex flex-row">
        Location Master
    </div>
    <div class="form">
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-column justify-content-center">
                <div class="inputfield">
                    <label>Location Name:<span class="fw-bold required">*</span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Short Name:<span class="fw-bold required">*</span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Unit Name:<span class="fw-bold"></span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">SOC Name:*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">Current Discount Policy:</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Location Code:</label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Location Type:<span class="required">*</span></label>
                    <div class="custom_select">
                        <select required>
                            <option value="">Select</option>
                            <option value="male">Asset</option>
                            <option value="female">Medi</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">Under Location:</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Company Name:</label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Hospital Name:</label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Location Address:<span class="fw-bold required">*</span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">Location City:*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-left">
                <div class="inputfield">
                    <label><span class="fw-bold">Area</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">State</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">Pin Code:</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">State Code:*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">Phone:*</span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label>Drug License No:<span class="fw-bold"></span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">Import Normal Ranges:*</span></label>
                    <div class="custom_select">
                        <select required>
                            <option value="">Select</option>
                            <option value="male">Asset</option>
                            <option value="female">Medi</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Parameters Count:<span class="fw-bold"></span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">Email:*</span></label>
                    <input type="text" class="input">
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">Online Appointment Desk:</span></label>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold">Transit Department For Online:</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="inputfield">
                    <label><span class="fw-bold required">GST Number:*</span></label>
                    <input type="text" class="input">
                </div>
              
        <div class="inputfield">
            <label>Status:</label>
            <div class="form-check">
                <input type="radio" id="active" name="status" value="active" class="form-check-input">
                <label for="active" class="form-check-label">Active</label>
            </div>
            <div class="form-check">
                <input type="radio" id="inactive" name="status" value="inactive" class="form-check-input">
                <label for="inactive" class="form-check-label">Inactive</label>
            </div>
        </div>
    </div>
</div>